---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Shops from "../components/Shops.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Mercado Valdeacederas">
    <div class="min-h-screen bg-[#f5f3ef] text-[#2a2a2a]">
        <Header />
        <main>
            <Hero />
            <Shops />
            <About />
        </main>
        <Footer />
    </div>
</Layout>
